<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Ligas</a>
    <button type="button" class="btn" data-toggle="modal" data-target="#addLigaModal">Adicionar Liga
      </button>
  </nav>
  
  <app-sidebar>
  </app-sidebar>

<div class="container" id="mainContainer" >
    <ng-container *ngFor="let liga of ligas | orderBy: keyLiga: reverseSort">
        <ul class="list-group" [style.background]="'orange'">
            <li class="list-group-item"> <img src={{liga.paisImageUrl}} width="45" height="30"> País: {{liga.paisLiga}}
              <button (click)="onOpenModal(liga, 'edit')" 
              type="button" class="btn" data-toggle="modal" data-target="#updateTimeModal"> Editar</button>
              <button (click)="onOpenModal(liga, 'delete')"  type="button" class="btn" data-toggle="modal" data-target="#updateTimeModal"> Deletar</button>
            </li>
            <li class="list-group-item">Tipo: {{liga.tipoLiga}}</li>
            <li class="list-group-item">Primeira Liga: {{liga.primeiraLiga}}</li>
            <li class="list-group-item">Ultimo Campeão: {{liga.ultimoCampeao}}</li>
            <button type="button" routerLink="/times/all/{{liga.ligaCode}}" class="btn"> Visitar {{liga.nomeLiga}} ->
            </button>
        </ul>
    </ng-container>
</div>

<div class="modal fade" id="addLigaModal" tabindex="-1" role="dialog" aria-labelledby="addLigaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addLigaModalLabel">Nova Liga</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <!--Componentes do Form-->
          <form #addFormLiga="ngForm" (ngSubmit)="onAddLiga(addFormLiga)">
            <div class="form-group">
              <label for="nomeLiga">Nome</label>
              <input type="text" ngModel name="nomeLiga" class="form-control" id="nomeLigaForm" placeholder="nome" required>
           </div>
           <div class="form-group">
              <label for="ligaCode">Codigo da Liga</label>
              <input type="text" ngModel name="ligaCode" class="form-control" id="ligaCodeForm" placeholder="Codigo" required>
           </div>
           <div class="form-group">
            <label for="ligaEsporte">Esporte da liga</label>
            <input type="text" ngModel name="ligaEsporte" class="form-control" id="ligaEsporteForm" placeholder="Esporte" required>
         </div>
           <div class="form-group">
              <label for="paisLiga">Pais</label>
              <input type="text" ngModel name="paisLiga" class="form-control" id="paisLigaForm" placeholder="Pais" required>
           </div>
           <div class="form-group">
              <label for="paisImageUrl">Bandeira</label>
              <input type="text" ngModel name="paisImageUrl" class="form-control" id="paisImageUrlForm" placeholder="Bandeira" required>
           </div>
           <div class="form-group">
            <label for="primeiraLiga">Primeira Liga</label>
            <input type="text" ngModel name="primeiraLiga" class="form-control" id="primeiraLigaForm" placeholder="Primeira Liga" required>
         </div>
         <div class="form-group">
            <label for="tipoLiga">Tipo da Liga</label>
            <input type="text" ngModel name="tipoLiga" class="form-control" id="tipoLigaForm" placeholder="Tipo da Liga" required>
         </div>
         <div class="form-group">
            <label for="ultimoCampeao">Ultimo Campeao</label>
            <input type="text" ngModel name="ultimoCampeao" class="form-control" id="ultimoCampeaoForm" placeholder="Ultimo Campeao" required>
         </div>
          <div class="modal-footer">
             <button type="button" id="add-Form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button  (click)="onAddLiga(addFormLiga)"  type="submit" class="btn btn-primary" data-dismiss="modal" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
 </div>

 <div class="modal fade" id="updateLigaModal" tabindex="-1" role="dialog" aria-labelledby="ligaEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateLigaModalLabel">Editar liga {{editLiga?.nomeLiga}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <!--Componentes do Form-->
           <form #editFormLiga="ngForm">
              <div class="form-group">
                 <label for="nomeLiga">Nome</label>
                 <input type="text" ngModel="{{editLiga?.nomeLiga}}" name="nomeLiga" class="form-control" id="nomeLigaEdit" aria-describedby="emailHelp" placeholder="Nome">
              </div>
              <input type="hidden" ngModel="{{editLiga?.id}}" name="id" class="form-control" id="idEdit" placeholder="id">
              <div class="form-group">
                 <label for="ligaCode">Codigo da Liga</label>
                 <input type="text" ngModel="{{editLiga?.ligaCode}}" name="ligaCode" class="form-control" id="ligaCodeEdit" placeholder="Codigo">
              </div>
              <div class="form-group">
               <label for="ligaEsporte">Esporte da Liga</label>
               <input type="text" ngModel="{{editLiga?.ligaEsporte}}" name="ligaEsporte" class="form-control" id="ligaEsporteEdit" placeholder="Esporte">
               </div>
              <div class="form-group">
                 <label for="paisLiga">Pais</label>
                 <input  type="text" ngModel="{{editLiga?.paisLiga}}" name="paisLiga" class="form-control" id="paisLigaEdit" placeholder="Pais">
              </div>
              <div class="form-group">
                 <label for="paisImageUrl">Bandeira</label>
                 <input type="text" ngModel="{{editLiga?.paisImageUrl}}" name="paisImageUrl" class="form-control" id="paisImageUrlEdit"  placeholder="Bandeira">
              </div>
              <div class="form-group">
               <label for="primeiraLiga">Primeira Liga</label>
               <input type="text" ngModel="{{editLiga?.primeiraLiga}}" name="primeiraLiga" class="form-control" id="primeiraLigaEdit"  placeholder="Primeira Liga">
               </div>
               <div class="form-group">
                  <label for="tipoLiga">Tipo da Liga</label>
                  <input type="text" ngModel="{{editLiga?.tipoLiga}}" name="tipoLiga" class="form-control" id="tipoLigaEdit"  placeholder="Tipo da Liga">
               </div>
               <div class="form-group">
                  <label for="ultimoCampeao">Ultimo Campeao</label>
                  <input type="text" ngModel="{{editLiga?.ultimoCampeao}}" name="ultimoCampeao" class="form-control" id="ultimoCampeaoEdit"  placeholder="Ultimo Campeao">
               </div>
            
              
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="updateLiga(editFormLiga.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div> 
           </form> 
        </div> 
     </div>
  </div>
</div>


<div class="modal fade" id="deleteLigaModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Deletar time</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <!--Confirmação e botões-->
        <div class="modal-body">
           <p>Tem certeza que quer deletar essa liga {{deleteLiga?.nomeLiga}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
              <button (click)="onDeleteLiga(deleteLiga.id)" class="btn btn-danger" data-dismiss="modal">Sim</button>
           </div> 
        </div>
     </div>
  </div>
</div> 