<div class=sidebar>
    <h3 class=header-sidebar>Esportes</h3>
  <ul class="list-sidebar">
     <li (click)="log($event)" class="list-sidebar-item" id="Futebol" >Futebol</li>
     <li (click)="log($event)" class="list-sidebar-item" id="Hockey">Hockey</li>
     <li (click)="log($event)" class="list-sidebar-item" id="Basquete">Basquete</li>
     <li (click)="log($event)" class="list-sidebar-item" id="Tenis">Tenis</li>
  </ul>
   <h3 class=header-sidebar>E-sports</h3>
  <ul class="list-sidebar">
     <li (click)="log($event)" class="list-sidebar-item" id="Dota2">Dota2</li>
     <li (click)="log($event)" class="list-sidebar-item" id="CSGO">CS:GO</li>
     <li (click)="log($event)" class="list-sidebar-item" id="LOL">LoL</li>
     <li (click)="log($event)" class="list-sidebar-item" id="Valorant">Valorant</li>
  </ul>
 </div>
